
/*Page Body*/
body {
    background-color: #eceef2;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/*Main Section*/
.section {
    background-color: #ffffff;  
    width: 617px;
    height: 100vh;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}
@media only screen and (min-width: 650px) {
    .section {
        background-color: #ffffff;
        width: 617px;
        height: 763px;
        margin: 0 auto;
        display: block;       
        border-radius: 20px;
        justify-content: center;
        align-items: center;  
    }
}
/*Interface*/
#interface {
    height: 75vh;
    width: 90vw;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
       
}
@media only screen and (min-width: 650px) {
    #interface {
        height: 763px;
        width: 617px;
    }
}




/*Page Logo*/
.img {   
    /*outline-color: black; 
    outline-style: solid;*/
    display: flex;
    justify-content: center; 
    width: 100vw;
    height: 14vh;
}
@media only screen and (min-width: 650px) {
    .img {
        /*outline-color: black; */
        /*outline-style: solid;*/
        display: flex;
        justify-content: center; 
    }
}
#imgResponsive {
    /*outline-color: rgb(0, 0, 0); 
    outline-style: solid;*/
    width: 213px;
    height: 124px;  
}
@media only screen and (min-width: 650px) {
    #imgResponsive {
        width: 213px;
        height: 124px;  
    }
}