/*Page Body*/
body {
    background-color: #eceef2;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
/*Main Section*/
.section {
    background-color: #ffffff;  
    width: 617px;
    height: 100vh;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}
@media only screen and (min-width: 650px) {
    .section {
        background-color: #ffffff;
        width: 617px;
        height: 763px;
        margin: 0 auto;
        display: block;       
        border-radius: 20px;
        justify-content: center;
        align-items: center;  
    }
}
/*Interface*/
#interface {
    height: 75vh;
    width: 90vw;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
       
}
@media only screen and (min-width: 650px) {
    #interface {
        height: 763px;
        width: 617px;
    }
}




/*Page Logo*/
.img {   
    /*outline-color: black; 
    outline-style: solid;*/
    display: flex;
    justify-content: center; 
    width: 100vw;
    height: 14vh;
}
@media only screen and (min-width: 650px) {
    .img {
        /*outline-color: black; */
        /*outline-style: solid;*/
        display: flex;
        justify-content: center; 
    }
}
#imgResponsive {
    /*outline-color: rgb(0, 0, 0); 
    outline-style: solid;*/
    width: 213px;
    height: 124px;  
}
@media only screen and (min-width: 650px) {
    #imgResponsive {
        width: 213px;
        height: 124px;  
    }
}




/*Page Tittle*/
.tittle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 6vw;
    /*outline-color: black;*/ 
    /*outline-style: solid;*/
    text-align: center; 
    width:100vw;  
    margin-top: 30px;
}
@media only screen and (min-width: 650px) {
    .tittle {
        font-family: 'Inter';
        font-style: normal;
        margin: 15px 0 15px 0;
        font-weight: 600;
        font-size: 36px;
        line-height: 24px;
        width:620px;
        /*outline-color: black; */
        /*outline-style: solid;*/
        text-align: center;
    }
}
@media only screen and (max-width: 400px) {
    .tittle {
        font-size: 25px;
    }
}

/*Page Text*/
.text {
    color: black;
    font-family: 'Nunito'; 
    font-style: normal;
    font-size: 4vw;
    text-align: center;   
}
@media only screen and (min-width: 650px) {
    .text {
        font-size: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .text {
        font-size: 18px;
    }
}
/*Placeholder*/
::placeholder { 
    color: rgb(194, 194, 194);
    opacity: 1;
}
/*Invalid Input Text*/
.invalidInput {
    font-family: 'Nunito'; 
    color: rgb(255, 0, 0);
    font-size: 3vw;
    display: flex;
    opacity: 0;
}
@media only screen and (min-width: 650px) {
    .invalidInput {
        font-size: 15px;
    }
}
@media only screen and (max-width: 400px) {
    .invalidInput {
        font-size: 15px;
    }
}
.validInput {
    display: none;
   
}